<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>PortFolio</title>
</head>
<body>
  <section class="title">
    <!--Heading-->
    <div class="text-content">
    <h1 class="portfolio">PortFolio</h1>
    <p class="made-by">Made by Juan Miguel G.P</p>
    </div>
    <img src="Images/legoshi png.jpg" alt="legoshi" class="legoshi">
    <img src="Images/descarga.png" alt="legoshi" class="beastars">
  </section>
  <section class="hello">
    <!--Greeting--> 
    <img src="Images/342e2d71-ce72-4ce1-9016-c09d438984a1.jpg" alt="me" class="me">
    <h1 class="greeting"><div class="h">H</div>ello <div class="w">W</div>orld!</h1>
    <h2 class="presentation">My name is Juan Miguel, I am 17 years old, currently in my last school year and during my free time studying programation.
      <br>
      <br>
      I am learning HTML, CSS and Python. I love going to the gym, to study, play voleyball and hear music.
      Also, I want to be a cybersecurity expert in the future.
      <br>
      <br> 
      This PortFolio contains some of my projects and progress in my coding career, I hope you like it! 
    </h2>
  </section>
  <!--Social Media-->
  <section class="social-media">
    <h3>Instagram: "link"</h3>
    <h3>Email: "link"</h3>
    <h3>GitHub: "link"</h3>
    <h3>LinkdIn: "link"</h3>
  </section>
  <!--General Content-->
  <section class="general-content">
    <div class="div">
    <section class="skills">
      <h3 class="skill">Skills</h3>
      <p>- HTML and CSS</p>
      <p>- Python</p>
      <p>- Time Management</p>
      <p>- Love Learning</p>
    </section> 
    <section class="certifications">
      <h3 class="cer">Certifications</h3>
      <p> -- HTML and CSS (FreeCodeCamp)</p>
      <p>-- Python (FreeCodeCamp) -In Progress-</p>
    </section>
    <section class="experience">
      <h3 class="expe">Experience</h3>
      <p>-- No professional experience yet --</p>
    </section>
    <section class="languages">
      <h3 class="lang">Languages</h3>
      <p>- Spanish (Native)</p>
      <p>- English (Advanced)</p>
      <p>- French (Advanced)</p>
     </section>
    </div>
  </section>
    <img src="Images/descarga (2).jpg" alt="jack" class="jack">
  </section>
</body>
</html>