:root {
    --orange: #C7372C;
    --dark-red: #710D0B;
    --grey: #94938F;
    --light-grey: #94938F;
    --white: #D6D7D2;
}

/* Scrolling */
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.title, .hello, .social-media, .general-content, .jack{
    scroll-snap-align: start;
}

/* Primera Seccion */ 
body {
    background-color: black;
}
h1, h2, h3, p {
    color: var(--white); 
}
.text-content {
  display: flex;
  flex-direction: column;
}


.title {
    display: flex; 
    justify-content: space-between;
    border: solid var(--grey) 2px;
    border-radius: 10px; 
    padding-bottom: 180px;
    padding-top: 60px;
    text-align: left;
}

.portfolio {
    font-size: 200px; 
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 0;
    color: var(--orange);
    letter-spacing: -3px;
    z-index: 1;
}
.made-by {
    margin-top: 0;
    margin-left: 10px;
    padding-top: 0; 
    font-size: 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.legoshi {
   margin: 0; 
   padding: 0;
   position: absolute;
   width: 700px;
   height: auto;
   right: 10px;
   bottom: -24px;
}

.beastars {
    position: absolute; 
    width: 600px; 
    margin: 0;
    padding: 0;
    top: 265px;
    left: 200px; 
    border-radius: 300px;
    z-index: -1; 
}
/* Primera Seccion */ 

/* Segunda Seccion */
.me {
    width: 580px;
    height: auto;
    float: right;
    border-radius: 30px;
    padding-top: 10px;  
}
.greeting {
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin: 0; 
    padding: 0;
    letter-spacing: -2px;
}
.h, .w {
    display: inline; 
    justify-content: space-evenly;
    margin: 0; 
    padding: 0;
    color: var(--orange);
}
.presentation {
    text-align: left;
    max-width: 50%;
}
/* Tercera Seccion */

.social-media {
    border: solid var(--grey) 2px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 50%;
    margin: 0;
    background-color: var(--dark-red);
}
.social-media h3 {
    font-size: 28px;
    margin: 10px;
}
/* General Content */

.general-content {
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  z-index: 1;
}
.general-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--grey);
}
.div {
  max-width: 50%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
}

.skills {
    margin-top: 22px; 
    padding: 0; 
    border: solid var(--dark-red) 2px;
    border-radius: 10px; 
    width: 240px;

}

.skill {
    font-size: 40px; 
    margin: 0; 
    padding: 0; 
    margin-left: 20px;
}
.skills p {
    margin-left: 40px;
    font-size: 20px;
    color: var(--orange);
}
.certifications {
    border: solid var(--dark-red) 2px;
    border-radius: 10px; 
    width: 260px;
    margin-top: 20px;
    margin-bottom: 0;
}
.cer {
    font-size: 40px; 
    margin-top: 0;
    padding: 0;
}
.certifications p {
    margin-left: 20px;
    font-size: 20px;
    color: var(--orange);
    margin-top: 0;
}
.experience {
    border: solid var(--dark-red) 2px;
    border-radius: 10px; 
    width: 310px;
    margin-top: 20px;
    margin-bottom: 0;
}
.expe {
    font-size: 40px; 
    margin-top: 0;
    padding: 0;
}
.experience p {
    margin-left: 20px;
    font-size: 20px;
    color: var(--orange);
    margin-top: 0;
}

.languages {
    border: solid var(--dark-red) 2px;
    border-radius: 10px; 
    width: 260px;
    margin-top: 20px;
    margin-bottom: 0;
}
.lang {
    font-size: 40px; 
    margin-top: 0;
    padding: 0;
}
.languages p {
    margin-left: 20px;
    font-size: 20px;
    color: var(--orange);
    margin-top: 0;
}
.jack {
   margin: 0; 
   padding: 0;
   position: absolute;
   width: 550px;
   height: auto;
   top: 1260px;
   right: 30px;
   bottom: -24px;
   z-index: -3;
   border-radius: 280px 0 300px 0;
}